@model SqlManagment.Models.LoginPage

<form method="post" asp-action="Login">
    <input asp-for="Server" type="text" placeholder="Server" />
    <input asp-for="LoginName" type="text" placeholder="Login" />
    <input asp-for="Password" type="text" placeholder="password"  />
    <button type="submit">Connect</button>
</form>

