/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.menu{
    width: 100%;
}
.menu a{
    text-decoration: none;
}
.menu li{
    list-style: none;
    position: relative;
}


.menu__list{
    display:flex;
}

.menu__list>li{
    margin: 0px 10px 0px 0px;
    background-color: #ff0000;
}

.menu__list>li:hover .sub-menu__list {
    display: block;
}

.menu__link{
    color: #fff;
}

.sub-menu__list {
    display: none;
    min-width: 200px;
    position: absolute;
    left: 0;
    top: 20px;
    padding: 20px 0px 0px 0px;
}



    .sub-menu__list > li {
        background-color: #ff6a00;
    }

.sub-menu__list > li:hover .sub-sub-menu__list{
    display: block;
}

.sub-menu__link {
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
}

.sub-sub-menu__list{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 200px;
    padding: 0px 0px 0px 5px;
}


.sub-sub-menu__list>li{
    background-color: #b6ff00;
}

.sub-sub-menu__list>li:hover .sub-sub-sub-menu__list{
    display: block;
}

.sub-sub-menu__link {
    display: inline-block;
    padding: 5px 10px;
}


.sub-sub-sub-menu__list {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 200px;
    padding: 0px 0px 0px 5px;
}

.sub-sub-sub-menu__list>li{
    background-color: #0366d6;
}

.sub-sub-sub-menu__link {
    display: inline-block;
    padding: 5px 10px;
}